body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    position: relative;
    max-width: 600px;
    margin: auto;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #444;
}

th {
    background-color: #333;
}

.pay-btn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.pay-btn:hover {
    background-color: #f1c40f;
}

.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #f1c40f;
}

.footer-text {
    font-size: 12px;
    color: #bbb;
    margin-top: 20px;
}

.header-img {
    display: block;
    max-width: 150px; 
    position: relative;
    top: 10px;
    right: 33rem;
}

.form-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}